<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>教学课件管理系统--北京大学软件与微电子学院</title>
</head>
<body>
	<div id="container">
		<div class="login">
			<div class="login_hd">
			</div>
			<div class="login_banner">
				
			</div>
			<div class="login_sc">
				<div class="login_help">
					<a href="#">使用帮助</a>
				</div>
				<form role="form" action="{:url('login/dologin')}" method="post" class="login_form">
					<fieldset>
						<legend>登录表单</legend>
						<div class="username">
							<input name="username" type="text" placeholder="学院邮箱"/>
						</div>
						<div class="password">
							<input name="password" type="text" placeholder="密码" />
						</div>
						<div class="login_btn">
							<input name="login" type="submit"  value="登录"/>
						</div>
					
						<div class="passwd_find">
							<a href="#">找回密码?</a>
						</div>
						
					</fieldset>
				</form>
				
			</div>
			
		</div>
	</div>
	<!-- <p>hndhxn</p> -->
</body>
</html>